MEAN

The average value of all the values in a dataset.

To calculate the mean value of a dataset, find the sum of all values then divide by the total number of values.

In [1]:
list1 = [12, 16, 20, 20, 12, 30, 25, 23, 24, 20]
mean = sum(list1)/len(list1)
print(mean)

20.2

MEDIAN

The middle value among all the values in sorted order.

There are two different ways of calculating the median value:

-When the total number of values is even:

Median = [(n/2)+((n/2)+1)/2]

-When the total number of values is odd:

Median = [n/2]

In [2]:
list1 = [12, 16, 20, 20, 12, 30, 25, 23, 24, 20]
list1.sort()

if len(list1) % 2 == 0:
  val1 = list1[len(list1)//2]
  val2 = list1[len(list1)//2 - 1]
  median = (val1 + val2)/2
else:
  median = list1[len(list1)//2]

print(median)

20.0

MODE

The most frequently occuring value among all the values.

In [3]:
list1 = [12, 16, 20, 20, 12, 30, 25, 23, 24, 20]
freq = {}
for i in list1:
  freq.setdefault(i, 0)
  freq[i]+=1

freqNum = max(freq.values())
for i, j in freq.items():
  if j == freqNum:
    mode = i

print(mode)

20